<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Many to Many Relationships</title>

    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_css/my_style.css' %}">
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a href="/authors" class="btn btn-secondary">Back</a>
            <a class="navbar-brand">Authors</a>
        </div>
    </nav>
    <br>
    <br>
    <div class="container-author-view">
        <h2>{{ author.first_name  }} {{ author.last_name }}</h2>
        <p>ID: {{ author.id }} </p>
        <h5>Notes:</h5>
        <p>{{ author.notes }}</p>
        <hr>
        <ul>
        <h5>Books:</h5>
        {% for book in author.books.all %}
            <li>{{book.title}}</li>
        {% endfor %}
        </ul>
        <hr>
        <form action="/addBookToAuthor" method="post">
            {% csrf_token %}
            <select class="form-select" name="book_id">
                <option value="null" selected>Please Select a Book</option>
                {% for book in books %}
                    {% if book not in author.books.all %}
                        <option value="{{ book.id }}">{{ book.title }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="hidden" value="{{ author.id }}" name="author_id">
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>

    <script src="{% static 'js/bootstrap/bootstrap.js' %}" ></script>
</body>
</html>