<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Many to Many Relationships</title>

    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_css/my_style.css' %}">
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a href="/books" class="btn btn-secondary">Back</a>
            <a class="navbar-brand">Books</a>
        </div>
    </nav>
    <br>
    <br>
    <div class="container-book-view">
        <h2>{{ book.title }}</h2>
        <p>ID: {{ book.id }} </p>
        <h5>Description:</h5>
        <p>{{ book.desc }}</p>
        <hr>
        <ul>
        <h5>Authors:</h5>
        {% for author in book.authors.all %}
            <li>{{ author.first_name }} {{ author.last_name }}</li>
        {% endfor %}
        </ul>
        <hr>
        <form action="/addAuthorToBook" method="post">
            {% csrf_token %}
            <select class="form-select" name="author_id">
                <option value="null" selected>Please Select Author</option>
                {% for author in authors %}
                    {% if author not in book.authors.all %}
                        <option value="{{ author.id }}">
                            {{ author.first_name }} {{ author.last_name }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="hidden" value="{{ book.id }}" name="book_id">
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>

    <script src="{% static 'js/bootstrap/bootstrap.js' %}" ></script>
</body>
</html>